@model SpookyRequest
<div class="text-center">
    <h1 class="display-4">Welcome to Spooky Request Logic App</h1>
</div>

<form method="post"  enctype="multipart/form-data">
    <p>Enter your details to apply today!</p>
    <div class="row py-1">
        <div class="col-3">
            Name :
		</div>
        <div class="col-6">
            <input asp-for="Name" class="form-control" />
		</div>
	</div>
    <div class="row py-1">
        <div class="col-3">
            Email:
        </div>
        <div class="col-6">
            <input asp-for="Email" class="form-control" />
        </div>
    </div>
    <div class="row py-1">
        <div class="col-3">
            Phone:
        </div>
        <div class="col-6">
            <input asp-for="Phone" class="form-control" />
        </div>
    </div>
     <div class="row py-1">
        <div class="col-3">
            Headshot / Resume:
        </div>
        <div class="col-6">
           <input type="file" class="form-control pt-1" name="file" />
        </div>
    </div>
    <div class="row py-1">
        <div class="col-3">
            
        </div>
        <div class="col-6">
            <button type="submit" class="btn btn-success" >Apply</button>
        </div>
    </div>
</form>