<form method="post" asp-action="AddFile" asp-controller="Blob" enctype="multipart/form-data">
    <div class="container">

        <div class="row border p-2">
            <div class="col-12 pb-2"><h4 class="text-primary">Add Item to Blob :</h4></div>


            <div class="form-group col-9">
                <input type="file" class="form-control pt-1" name="file" />
            </div>
            <div class="form-group col-3">
                <button type="submit" class="btn btn-success form-control">Add</button>
            </div>
        </div>
    </div>
</form>
